<div class="raw text-center">
  <div class="col-4 offset-4">
    <%= form_with url: login_path, method: :post, class: "form-signin" do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <%= f.label :email, class: "sr-only" %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>

      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

      <%= f.submit "Login", class: "btn btn-info btn-block" %>
    <% end %>
  </div>

</div>
